<section>
    <h1 id="results">
        <p><%= @results %></p>
    </h1>
    <button type="button" phx-click="send_message" phx-disable-with="Sending...">Send message</button>
    <button type="button" phx-click="get_state" phx-disable-with="Retrieving state...">Get State</button>
    <button type="button" phx-click="start_proc" phx-disable-with="Starting process...">Start process</button>
</section>
